.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(112, 112, 112, 0.4);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: start;
  justify-content: center;
}
.modal__wrapper {
  padding: 80px 150px;
  border-radius: 5px;
  background-color: #fff;
  margin: 110px;
  height: 80vh;
  width: 80vw;
}
.modal__content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
}
