.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
}
.header__logo {
  display: flex;
}
.header__text {
  font-size: 45px;
  text-transform: uppercase;
}
.image {
  padding-right: 10px;
  position: relative;
  top: 3px;
}
.burger_btn {
  margin-left: 15px;
  padding-top: 30px;
}
.link__download {
  cursor: pointer;
  padding-top: 22px;
}
