.title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 30px;
}
.blocks {
  display: flex;
  align-items: flex-end;
  max-width: 1080px;
  justify-content: space-between;
}
